@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
    scrollbar-width: thin;
    scrollbar-color: white transparent;
}

body {
    font-family: Arial, sans-serif;
}

.hidden {
    display: none;
}

/* Toast konteyneri */
#toast-container {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    z-index: 9999;
    max-width: 90vw;
}

/* Toast umumiy stili */
.toast {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 14px 20px;
    border-radius: 10px;
    color: #fff;
    min-width: 250px;
    max-width: 350px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: translateY(-50px) scale(0.95);
    animation: slideIn 0.5s forwards;
    position: relative;
    overflow: hidden;
}

/* Icon */
.toast .icon {
    font-size: 18px;
    flex-shrink: 0;
}

/* Progress bar */
.toast .progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    background: rgba(255, 255, 255, 0.7);
    width: 100%;
    transform-origin: left;
}

/* Turli turlar ranglari */
.toast.info {
    background: rgba(52, 152, 219, 0.9);
}

.toast.success {
    background: rgba(46, 204, 113, 0.9);
}

.toast.error {
    background: rgba(231, 76, 60, 0.9);
}

.toast.warning {
    background: rgba(243, 156, 18, 0.9);
}

.toast.info .icon {
    color: #3498db;
}

.toast.success .icon {
    color: #2ecc71;
}

.toast.error .icon {
    color: #e74c3c;
}

.toast.warning .icon {
    color: #f39c12;
}

/* Animatsiyalar */
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-50px) scale(0.95);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@keyframes slideOut {
    from {
        opacity: 1;
        transform: translateY(0) scale(1);
    }

    to {
        opacity: 0;
        transform: translateY(-50px) scale(0.95);
    }
}

/* Mobile moslashuv */
@media (max-width: 480px) {
    #toast-container {
        left: 10px;
        right: 10px;
    }

    .toast {
        width: 100%;
        max-width: unset;
    }
}

/* Modal */

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #121212;
    color: #fff;
}

/* Modal overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Modal box */
.modal {
    background: linear-gradient(145deg, #1f1f1f, #2c2c2c);
    padding: 25px 20px;
    border-radius: 15px;
    min-width: 300px;
    max-width: 90%;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.6);
    animation: fadeIn 0.3s ease-out;
    position: relative;
}

.modal-close {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.modal h2 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 1.4rem;
    color: #f0f0f0;
    text-align: center;
}

.modal input {
    width: 100%;
    padding: 8px 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    background-color: inherit;
    color: #fff;
    box-sizing: border-box;
}

.modal input::placeholder {
    color: #bbb;
}

.modal button {
    width: 100%;
    padding: 8px 0;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;

    background: #f5f5f5;
    /* oq */
    color: #111;
    /* qora text */
    border: 1px solid #333;
    /* kulrang chegara */

    font-weight: 600;
    transition: 0.3s;
}

.modal button:active {
    transform: scale(0.98);
}

/* Responsive */
@media(max-width: 480px) {
    .modal {
        padding: 20px 15px;
    }

    .modal h2 {
        font-size: 1.2rem;
    }

    .modal input,
    .modal button {
        font-size: 0.95rem;
    }
}

/* Home */
.home_box {
    display: flex;
    height: 100vh;
}

.left_col {
    width: 20%;
    background-color: #282828;
    padding: 20px;
    overflow-y: auto;
    position: relative;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #222222;
}

::-webkit-scrollbar-button {
    display: none;
}

.add_folder_btn_box {
    margin: 20px 0;
    border-top: 1px solid grey;
    padding: 10px 0;
}

.add_folder_btn_box button {
    outline: none;
    background-color: inherit;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    border: 0;
    width: 100%;
    padding: 5px;
    cursor: pointer;
    text-align: start;
    transition: 0.3s;
    display: flex;
    gap: 5px;
    align-items: center;
}

.add_folder_btn_box button:hover {
    background-color: #787878;
}

.user_profile .username {
    color: white;
    text-transform: capitalize;
}

.folders {
    border-top: 1px solid grey;
    padding: 5px 0;
}

.folder {
    margin: 5px 0;
    color: white;
    cursor: pointer;
    padding: 10px 5px;
    transition: 0.3s;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.folder_icon_box {
    display: flex;
    gap: 5px;
    align-items: center;
}

.folder_icon_box p {
    padding: 5px;
    border-radius: 5px;
    transition: 0.3s;
}

.folder_icon_box p:hover {
    background-color: #131313;
}

.folder:hover {
    background-color: #787878;
}


.folder p.content {
    display: flex;
    overflow: hidden;
    gap: 10px;
    margin-right: 5px;
    align-items: center;
}

/* Right col */
.right_col {
    width: 80%;
    background-color: #131313;
    max-width: 1032px;
    margin: 20px auto;
    background-color: inherit;
    position: relative;
}

.notes {
    overflow-y: auto;
    height: calc(100vh - 138px);
}

.note {
    background-color: #282828;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    position: relative;
    margin-bottom: 45px;
    white-space: pre-wrap;
}

.code .content {
    color: green;
    font-weight: 600;
    background-color: black;
    padding: 10px;
}

.buttons {
    position: absolute;
    padding: 7px;
    display: flex;
    gap: 10px;
    right: 0;
    bottom: 0;
    background-color: #282828;
    transform: translateY(100%);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.buttons p {
    cursor: pointer;
}

.editor-wrapper {
    width: 100%;
    background: #282828;
    border-radius: 14px;
    padding: 16px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

/* Textarea */
.editor-wrapper textarea {
    width: 100%;
    min-height: 60px;
    max-height: 220px;
    resize: none;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 15px;
    line-height: 1.5;
    padding-right: 90px;
    overflow-y: hidden;
}

/* Scroll chiqqanda chiroyli */
.editor-wrapper textarea::-webkit-scrollbar {
    width: 6px;
}

.editor-wrapper textarea::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

/* Tugmalar */
.actions {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
}

.actions button {
    padding: 7px 15px;
    border-radius: 10px;
    border: none;
    background: rgba(255, 255, 255, 0.08);
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s;
}

.actions button:hover {
    background: rgba(255, 255, 255, 0.2);
}

.nav_mobile_icon {
    position: absolute;
    top: 15px;
    left: 15px;
}

.nav_x_mobile_icon {
    position: absolute;
    top: 15px;
    right: 15px;
}

.exit_button {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border: 0;
    color: white;
    font-size: 18px;
    padding: 5px;
    transition: 0.3s;
    cursor: pointer;
    background-color: inherit;
    border: 2px solid #787878;
}
.exit_button:hover {
    background-color: #787878;
}
/* 
.exit_button {
    outline: none;
    background-color: inherit;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    border: 0;
    width: 100%;
    padding: 5px;
    cursor: pointer;
    text-align: start;
    transition: 0.3s;
    display: flex;
    gap: 5px;
    align-items: center;
}

.exit_button {
    background-color: #787878;
} */

@media (min-width: 769px) {
    .nav_mobile_icon {
        display: none !important;
    }

    .nav_x_mobile_icon {
        display: none !important;
    }
}

@media (max-width: 768px) {
    .left_col {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        display: none;
    }

    .right_col {
        width: 100%;
        padding: 10px;
        padding-top: 20px;
    }
}